
/* ------------------------Media Query-------------------- */
/* ********************************************************************************************************************** */

/* --------------Desktop & Laptop------------------ */
@media(min-width:1024px) {
  
 }
 
 /* ********************************************************************************************************************** */
 
 /* -------------- Tablet------------------ */
 @media(min-width:992px) and (max-width:1023px) {
    .nav-tab-btn ul li span a{
        font-size: 45px;
      }
 
 }
 
 @media(min-width:769px) and (max-width:991px) {
    .nav-tab-btn ul li span a{
        font-size: 35px;
      }
 }
 
 /* ********************************************************************************************************************** */
 
 /* --------------Mobile------------------ */
 @media(max-width:768px) {
    .footer-div{
        padding: 30px;
    }
    .nav-tab-btn ul li span a{
        font-size: 33px;
      }
    
 }
 @media(min-width:601px){
    .footer-div2{
        display: none;
    }
 }
 @media(max-width:600px) {
    .footer-div{
        display: none;
    }

    .footer-div2{
        background-color: #111111;

     }
     .footer-container2{
        padding: 0px 30px !important;
     }
    
     .inp-container {
        width: 300px;
        border: 1px solid white;
        display: flex;
        align-items: center; /* Aligns items vertically in the center */
        
    }
    
    
    .inp-container input {
        border: none; /* Remove default border */
        padding: 10px; /* Add some padding */
        border-right: 1px solid white; /* Right border in white */
        background-color: transparent; /* Make background transparent if needed */
        width: 90%;
        color: white; /* Change text color to white */
        outline: none;
    }
    
    .inp-container button {
        width: 10%;
        background-color: transparent; /* Optional: make button background transparent */
        border: none; /* Remove button border */
        color: white; /* Change button icon color to white */
        cursor: pointer; /* Change cursor to pointer */
    }
    
    /* Optional: Add hover effect for the button */
    .inp-container button:hover {
        color: #ccc; /* Change color on hover for better visibility */
    }
    .btnn{
        padding: 7px 12px;
    }
    .footer-acp li{
        list-style: none;
    }

    .footer-acp li a{
        text-decoration: none;
        color: white;
        font-size: 18px;
    }
    
    
    
 }
 
 @media(max-width:495px) {
    .btnn{
        padding: 5px 10px;
    }
    .nav-tab-btn ul li span a{
        font-size:25px;
      }
      .about-body-div .abd-content .abd-text{
        font-size: 73px;
      
      }
      .about-body-div .abd-content .abd-text2{
        font-size: 73px;
      }
      .breadcrumb-item, .breadcrumb-item a{
        font-size: 13px;
      }
      .breadcrumb-before::before{
        content: "";
        height: 3px;
        width: 140px;
        background-color: white;
        position: absolute;
        top: 11px;
        right: 124px;
      }
      .width240
      {
        width: 160px;
      }
      .hero-nav{
        background-color: white;
        padding: 0;
        height: 75px;
        align-items: center;
      }
      .logo a .logo-img {
        width: 210px;
      }
      .ac-btn{
        top: auto;
        right: -15px;
      }
    .ac-btn .rightt {
      top: 9px;
      color: #7f7f7f;
    }
    .h-text h1{
      text-align: center;
      font-size: 19px;
    }
    .ourClient-div {
    padding: 30px 0px;
    }

/* ---------------------------------------------------------------------- */




/* ---------------------------------------------------------------------- */




 }